<%- include('partials/head') %>

<div class="content">
    <div style="padding-top: 50px;text-align: center;" class="container justify-content-center">
      <h3>Create Appointment</h3>
      <div class="d-flex justify-content-center" style="margin-top: 15px;">
        <div class="card styler" style="border-radius: 10px; width: 25%;">
          <div class="card-body">
            <div class="row">
                <p class="col-4"><strong>Doctor: </strong></p><p class="col-4">John Doe</p>
            </div>
            <div class="row">
                <p class="col-4"><strong>Date: </strong></p><p class="col-4">4/12/2023</p>
            </div>
            <div class="row">
                <p class="col-4"><strong>Time: </strong></p><p class="col-4">3:00 PM</p>
            </div>
            <form>
                <label for="reason">Reason: </label>
                <input id="reason" class="form-control" type="text" />
              <input type="submit" value="Create" class="btn btn-primary">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
</html>
