
<%- include('partials/head') %>

<div class="content">
    <div style="padding-top: 50px;text-align: center;" class="container">
        <h3>My Appointments</h3>
        <div style="padding: 0 25%;">
            <table class="table styler">
                <thead>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Purpose</th>
                </thead>
                <tr>
                    <td>Bob Smith</td>
                    <td>2/22/23</td>
                    <td>2:00 pm</td>
                    <td>Colonoscopy</td>
                </tr>
                <tr>
                    <td>Billy Bob</td>
                    <td>2/23/23</td>
                    <td>1:00 pm</td>
                    <td>Heart Surgery</td>
                </tr>
                <tr>
                    <td>Stan Filly</td>
                    <td>2/11/23</td>
                    <td>10:00 am</td>
                    <td>Lasik Eye Surgery</td>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
</html>

