<%- include('partials/head') %>

<div class="content">
    <div style="padding-top: 50px;text-align: center;" class="container justify-content-center">
      <h3>Sign Up</h3>
      <div class="d-flex justify-content-center" style="margin-top: 15px;">
        <div class="card styler">
          <div class="card-body">
            <a class="btn btn-primary" href="/signup/doctor">Doctor</a>
            <a class="btn btn-primary" href="/signup/patient">Patient</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
</html>
